.divWrap {
  /*display: table;*/
  float:left;
  width:auto;
  margin:10px;
  border-spacing:1px;
}

.divFiller {
  margin: 5px;
  border-spacing:1px;
  height: 118px;
  border-spacing:1px;
}

.divHalfFiller {
  margin: 5px;
  height: 59px;
  border-spacing:1px;
}


.divTable
{
    margin: 5px;
    display:  table;
    width:auto;
    background-color:#ffffff;
    border:1px solid  #666666;
    border-spacing:1px;/*cellspacing:poor IE support for  this*/
    /* border-collapse:separate;*/
}
.divRow
{   
   display:table-row;
   width:auto;
}

.divHeadCell
{
  margin: 2px;  
  float:left;/*fix for  buggy browsers*/
  display:table-column;
  width: calc(100% - 4px);
  background-color:#D8BFD8;
}
.divCell
{
  margin: 2px; 
  float:left;/*fix for  buggy browsers*/
  display:table-column;
  width:140px;
  background-color:#D8BFD8;
}

.divCellShort
{
  margin: 2px; 
  float:left;/*fix for  buggy browsers*/
  display:table-column;
  width:40px;
  background-color:#D8BFD8;
}

.divWinCell
{
  margin: 2px; 
  float:left;/*fix for  buggy browsers*/
  display:table-column;
  width:140px;
  background-color:#BBBBFF;
}

.divWinCellSmooth
{
  margin: 2px; 
  float:left;/*fix for  buggy browsers*/
  display:table-column;
  width:140px;
  background-color:#9999FF;
}

.divWinCellShort
{
  margin: 2px; 
  float:left;/*fix for  buggy browsers*/
  display:table-column;
  width:40px;
  background-color:#BBBBFF;
}

.divWinCellSmoothShort
{
  margin: 2px; 
  float:left;/*fix for  buggy browsers*/
  display:table-column;
  width:40px;
  background-color:#9999FF;
}


.divLoseCell
{
  margin: 2px; 
  float:left;/*fix for  buggy browsers*/
  display:table-column;
  width:140px;
  background-color:#FFBD9C;
}
